@import url(style.css);
@import url(./swiper.css);

.wrap {
    width: 95%;
    margin: 0 auto;
}

header {
    background: #fff;
    position: fixed;
    top: 0;
    width: 95%;
    height: 80px;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    z-index: 10;
}

header nav {
    background: #999;
    width: 100%;
    height: 80px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 400;
}

.nav-l, .nav-r {
    display: none;
}

/* .nav-l {
    margin-left: 30px;
    display: flex;
}

.nav-r {
    margin-right: 30px;
} */

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 70%;
}

.nav a {
    padding: 0 10px;
}

#video {
    width: 100%;
    background: #888;
    height: 220px;
    margin-top: 1rem;
    border-radius: 15px;
}

.banner {
    height: 200px;
    width: 100%;
    border-radius: 15px;
    background: #777;
}

.brandBanner {
    width: 100%;
    height: 220px;
    background: #555;
    border-radius: 15px;
    margin: 30px 0;
}

.valueWrap {
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.tabMenu {
    width: calc(99% / 2);
    height: 280px;
    outline: 1px solid #444;
    border-radius: 15px;
}

.imgsec {
    width: calc(99% / 2);
    height: 280px;
    background: #444;
    border-radius: 15px;
}

#newTo {
    width: 100%;
    height: 300px;
    background: #333;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
}

.newTo-bt {
    background: #555;
    width: 100%;
    height: 100px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

footer {
    width: 100%;
    height: 180px;
    background: #222;
    border-radius: 15px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.fMenu {
    width: 100%;
    height: 90px;
    background: #666;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    justify-content: space-between;
}

.FLmenu {
    width: 550px;
}

.FrMenu {
    width: 630px;
}

/* swiper */
.swiper {
    width: 100%;
    height: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #666;
    border-radius: 15px;
    width: calc(100%);
    height: 410px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: calc(100%);
    height: 610px;
    object-fit: cover;
  }

  @media screen {
    .swiper-slide img {
        max-width: calc(100%);
        max-height: 310px;
    }

    .swiper-slide {
        max-width: calc(100% / 1.2);
        max-height: 310px;
    }
  }